@mixin input {
    display: block;
    width: 500px;
    margin: auto;
    margin-bottom: 15px;
    height: 40px;
    border: solid 1px #E4E4E4;
    border-radius: 12px;
    background-color: #E4E4E4;
}
@mixin caja-1 {
    width: 400px;
    height: 250px;
}
@mixin caja-2 {
    width: 180px;
    height: 250px;
}

.input-top {
    @include input()
}
.input-center {
    @include input()
}
.input-bottom {
    @include input()
}
.contenido-uno , .contenido-dos , .contenido-tres ,  .contenido-final-1 ,  .contenido-final-2 ,  .contenido-final-3 {
    @include caja-1()
}
.contenido-central-1 , .contenido-central-2 , .contenido-central-3 {
    @include caja-2()
}
